In [9]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [16]:
# reading csv and convering to dataframe
placement_df1 = pd.read_csv('..\data\Placement_Data_Full_Class.csv')
placement_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [17]:
# clearing null values
placement_df1 = placement_df1.dropna()
placement_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 0 to 213
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           148 non-null    int64
 1   gender          148 non-null    object
 2   ssc_p           148 non-null    float64
 3   ssc_b           148 non-null    object
 4   hsc_p           148 non-null    float64
 5   hsc_b           148 non-null    object
 6   hsc_s           148 non-null    object
 7   degree_p        148 non-null    float64
 8   degree_t        148 non-null    object
 9   workex          148 non-null    object
 10  etest_p         148 non-null    float64
 11  specialisation  148 non-null    object
 12  mba_p           148 non-null    float64
 13  status          148 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 18.5+ KB